.popap__name {
  margin-top: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

/* 540 */
@media screen and (max-width: 540px) {
  .popap__name {
    margin-top: 75px;
    width: 238px;
    }
  }