/* 1280 */
.header {
  max-width: 880px;
  padding: 45px 0 0;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .header {
    padding: 27px 0 0 28px;
    margin: 0 auto;
  }
}
