.popup__name {
  margin-top: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  padding: 0 0 13px 0;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__name {
    margin-top: 75px;
    width: 238px;
    }
  }
