.popap__submit-button {
  margin-top: 48px;
  padding: 14px 0 18px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  background-color: black;
  border-radius: 2px;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popap__submit-button {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
    }
  }

  .popap__submit-button:hover {
    opacity: 80%;
  }
