@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__button/elements__button.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__wrapper/elements__wrapper.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__job/popup__job.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* elements__button_active */
.elements__element_urn {
  background-image: url(../images/Group-urn.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.elements__element_urn:hover {
  opacity: 0.5;
  transition: opacity .3s linear;
}

.popup__addPicture {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.popup__addPicture_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.popup__close_addPicture {
  background-image: url(../images/Close_Icon.svg);
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
}

.popup__close_addPicture:hover {
  opacity: 0.6;
  transition: opacity .3s linear;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__close_addPicture {
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 0;
  }
}

.popup__title_addPicture {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__title_addPicture {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__name_addPicture {
  margin-top: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__name_addPicture {
    margin-top: 75px;
    width: 238px;
  }
}

.popup__link_addPicture {
  margin-top: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__link_addPicture {
    width: 238px;
  }
}

.popup__submit-button_addPicture {
  margin-top: 48px;
  padding: 14px 0 18px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  background-color: black;
  border-radius: 2px;
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__submit-button_addPicture {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 14px;
    border-radius: 2px;
  }
}

.popup__submit-button_addPicture:hover {
  opacity: 0.8;
  transition: opacity .3s linear;
}

/* попап для картинок */
.popup__forImage {
  box-sizing: border-box;
  position: fixed;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
  }

.popup__forImage_active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.popup__containerForImage {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__close_image {
  background-image: url(../images/Close_Icon.svg);
  border: none;
  position: absolute;
  right: -20px;
  top: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
}

.popup__close_image:hover {
  opacity: 0.6;
  transition: opacity .3s linear;
}

/* 540 */
@media screen and (max-width: 540px) {
  .popup__close_image {
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 0px;
    top: -16px;
  }
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
  margin: 0;
  object-position: center;
  object-fit: cover;
}

.popup__figcaption {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
